
body{
  font-family: 'Poppins', sans-serif !important;
}

.pages{
  font-family: 'Poppins', sans-serif !important;
}

.hello1{
  border: 2px solid black;
}

.logoImg{
    width: 8rem;
    padding: .5rem 0;
}

.Navbar{
  background-color: #090909 !important ;
}

.card{
  display: flex;
  justify-content: center;
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 8px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(1% + 8px) !important;
}

.addto-cart-button{
  width: 100%;
  background-color: #000000 !important;
  color: white !important;
  border: 2px solid rgb(0, 0, 0) !important;
}

.addto-cart-button:hover{
  background-color: #fff !important;
  border: 2px solid black;
  color: black !important;
  transition: 0.7s;
}
 
.cardImage{
  width: 100%;
}

.sub-title{
  text-align: center;
  margin: 5rem 0 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.feature-divider{
  display: block;
  margin: 20px auto 20px auto;
  background-color: #5b5b5b;
  height: 2px;
  width: 30px;
}

.content-img{
  height: 400px;
}

.decorPrice{
  font-size: 14px;
  font-weight: 600;
  color: rgb(77, 77, 77);
  margin: 15px 0 2px;
  font-Family: Poppins, sans-serif;
}

.slidershop-btn{
    color: #090909 !important;
    padding: 6px 0 !important;
    font-weight: 600 !important;
    font-Family: Poppins, sans-serif !important;
}

.banner-img{
  transition: transform .8s;
  height: 25rem;
}

.banner-img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05); 
}

.footer-section{
  background-color: #000000;
  margin-top: 8rem;
  padding: 4rem 0rem;
}

.footer-section .footer-sub-title{
    font-size: 1.0rem;
    color: white;
    font-weight: 600;
}

.footer-section .footer-content{
  color: white;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.footer-section .footer-content a{
  text-decoration: none;
  color: white;
}

.footer-section .footer-content a:hover{
  color: #f99f05;
  transition: all .2s ease;
}

.footer-button{
  background-color: #f99f05 !important;
  width: 100%;
  margin-top: 1.5rem !important;
  color: white !important;
  border: 2px solid #f99f05 !important;
}

.footer-button:hover{
  border: 2px solid #f99f05 !important;
  background-color: #ffffff00 !important;
  transition:  0.5s;
}

.company-group-logo{
  width: 12rem;
  margin: 0 2rem;
}

.footer-section .css-1x51dt5-MuiInputBase-input-MuiInput-input{
  border-bottom: 1px solid white !important;
  border-top: none;
  border-right: none;
  border-left: none;
}
.footer-section .css-7obqij-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #ffffff !important;

}

.footer-section input, select, textarea{
  color: #ffffff !important;
}

.footer-section::placeholder {
  color: rgb(181, 181, 181) !important;
  opacity: 1 !important; /* Firefox */
}

.collection-mens-shirts{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

@media only screen and (max-width: 600px) {
  .cardImage{
    width: 100%;
  }
  .logoImg {
    width: 6rem;
    padding: 0.7rem 0;
}
.footer-section {
  padding: 4rem 2rem;
}
}